aiofiles==24.1.0
aiohttp==3.9.5
aiosignal==1.3.1
alembic==1.14.0
annotated-types==0.7.0
anyio==4.4.0
aspose-pdf==24.10.0
asttokens==2.4.1
attrs==23.2.0
azure-core==1.30.1
azure-identity==1.16.0
azure_authentication @ git+https://github.com/soda-lmu/azure-auth-helper-python.git@543356738076ac3d66fc169228b302fe76954159
beautifulsoup4==4.12.3
blinker==1.8.2
cachetools==5.5.0
certifi==2024.8.30
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.1.0
colorama==0.4.6
comm==0.2.2
console==0.9909
databricks-sdk==0.36.0
dataclasses-json==0.6.6
debugpy==1.8.6
decorator==5.1.1
deepsearch-glm==0.26.1
Deprecated==1.2.14
dirtyjson==1.0.8
distro==1.9.0
docker==7.1.0
docling==2.5.2
docling-core==2.3.2
docling-ibm-models==2.0.3
docling-parse==2.0.4
docutils==0.21.2
easyocr==1.7.2
et-xmlfile==1.1.0
executing==2.1.0
ezenv==0.92
filelock==3.14.0
filetype==1.2.0
Flask==3.0.3
fonttools==4.54.1
frozenlist==1.4.1
fsspec==2024.6.0
geopandas==1.0.1
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.36.0
graphene==3.4.1
graphql-core==3.2.5
graphql-relay==3.2.0
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.5
httpimport==1.4.0
httpx==0.27.0
huggingface-hub==0.23.3
idna==3.7
imageio==2.36.0
intel-openmp==2021.4.0
ipykernel==6.29.5
ipython==8.28.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jiter==0.8.2
joblib==1.4.2
jsonlines==3.1.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
kiwisolver==1.4.7
langchain==0.2.17
langchain-core==0.2.43
langchain-text-splitters==0.2.4
langsmith==0.1.143
lazy_loader==0.4
llama-cloud==0.1.5
llama-index==0.10.68
llama-index-agent-openai==0.2.7
llama-index-cli==0.1.12
llama-index-core==0.10.68.post1
llama-index-embeddings-azure-openai==0.1.11
llama-index-embeddings-huggingface==0.2.1
llama-index-embeddings-openai==0.1.10
llama-index-indices-managed-llama-cloud==0.2.7
llama-index-legacy==0.9.48
llama-index-llms-azure-openai==0.1.10
llama-index-llms-openai==0.1.27
llama-index-multi-modal-llms-openai==0.1.6
llama-index-program-openai==0.1.6
llama-index-question-gen-openai==0.1.3
llama-index-readers-file==0.1.23
llama-index-readers-llama-parse==0.1.4
llama-parse==0.4.4
llamaindex-py-client==0.1.19
loguru==0.7.3
lxml==4.9.4
Mako==1.3.6
Markdown==3.7
markdown-it-py==3.0.0
marko==2.1.2
MarkupSafe==2.1.5
marshmallow==3.21.2
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
mean-average-precision==2021.4.26.0
minijinja==2.0.1
mkl==2021.4.0
mlflow==2.17.2
mlflow-skinny==2.17.2
mpmath==1.3.0
msal==1.28.0
msal-extensions==1.1.0
multidict==6.0.5
mypy-extensions==1.0.0
numpy==1.26.4
nest-asyncio==1.6.0
networkx==3.3
ninja==1.11.1.1
nltk==3.8.1
openai==1.60.2
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
opentelemetry-api==1.28.0
opentelemetry-sdk==1.28.0
opentelemetry-semantic-conventions==0.49b0
orjson==3.10.11
packaging==24.1
pandas==2.2
parso==0.8.4
pdf2image==1.17.0
pillow==10.3.0
platformdirs==4.3.6
portalocker==2.8.2
prompt_toolkit==3.0.48
protobuf==5.28.3
psutil==6.0.0
pure_eval==0.2.3
pyarrow==16.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyclipper==1.3.0.post6
pycparser==2.22
pydantic==2.8.2
pydantic-settings==2.6.1
pydantic_core==2.20.1
Pygments==2.18.0
PyJWT==2.8.0
pyogrio==0.10.0
pyparsing==3.2.0
pypdf==4.2.0
PyPDF2==3.0.1
pypdfium2==4.30.0
pyproj==3.7.0
python-bidi==0.6.3
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
python-pptx==1.0.2
PyYAML==6.0.1
pyzmq==26.2.0
referencing==0.35.1
regex==2024.5.15
requests==2.32.3
requests-toolbelt==1.0.0
rich==13.9.4
rpds-py==0.21.0
rsa==4.9
Rtree==1.3.0
safetensors==0.4.3
scikit-image==0.24.0
scikit-learn==1.5.0
scipy==1.14.1
sentence-transformers==2.7.0
setuptools==70.0.0
shapely==2.0.6
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.5
SQLAlchemy==2.0.30
sqlparse==0.5.1
stack-data==0.6.3
striprtf==0.0.26
sympy==1.13.1
tabulate==0.9.0
tbb==2021.12.0
tenacity==8.3.0
threadpoolctl==3.5.0
tifffile==2024.9.20
tiktoken==0.7.0
timm==1.0.11
tokenizers==0.19.1
torch==2.4.1
torchvision==0.19.1
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
transformers==4.44.2
typer==0.12.5
typing-inspect==0.9.0
urllib3==2.2.1
waitress==3.0.1
wcwidth==0.2.13
Werkzeug==3.1.2
wheel==0.43.0
wrapt==1.16.0
xlrd==2.0.1
XlsxWriter==3.2.0
xlutils==2.0.0
xlwt==1.3.0
yarl==1.9.4